.row {
    display: flex;
    flex-direction: row;
    &.v-center {
        align-items: center;
    }
    .col-4 {
        width: 33.3333%;
    }
    .col-6 {
        width: 50%;
    }
    .col-8 {
        width: 66.6666%;
    }
    .col-12 {
        width: 100%;
    }
    .col-fill {
        flex: 1;
    }
    @media screen and (max-width: $mqMobile) {
        flex-direction: column;
        .col-4,
        .col-8,
        .col-12 {
            width: 100%;
            margin: 0.5rem 0;
        }
    }
}
