.row {
    display: flex;
    flex-direction: row;
    & > [class~=col-] {
        flex: 1;
    }
    .col-4 {
        width: 33.3333%;
    }
    .col-8 {
        width: 66.6666%;
    }
    .col-12 {
        width: 100%;
    }
}